statemachine/emailprocessor.asl.json
{
    "Comment": "Email processing state machine",
    "StartAt": "Init",
    "States": {
        "Init":{
            "Type": "Pass",
            "Next": "Send Email"
        },
        "Send Email":{
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "OutputPath": "$.Payload",
            "Parameters": {
                "Payload.$": "$",
                "FunctionName": "${EmailSenderFunctionArn}"
            },
            "Next": "ProcessResponse"
        },
	"ProcessResponse":{
	    "Type": "Task",
	    "Resource": "arn:aws:states:::lambda:invoke",
	    "OutputPath": "$",
	    "Parameters": {
	    	"Payload.$": "$",
		"FunctionName": "${ResponseProcessorFunctionArn}"
	    },
            "Next": "Finish"
	},
        "Finish":{
            "Type": "Pass",
            "End": true
        }
    }
}
