statemachine/emailprocessor.asl.json
{
    "Comment": "Email processing state machine",
    "StartAt": "Init",
    "States": {
        "Init":{
            "Type": "Pass",
            "Next": "Send Email"
        },
        "Send Email":{
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "OutputPath": "$",
            "Parameters": {
                "Payload.$": "$",
                "FunctionName": "${EmailSenderFunctionArn}"
            },
            "Next": "Finish"
        },
        "Finish":{
            "Type": "Pass",
            "End": true
        }
    }
}